<div class = "row">
  <div class = "col">
      <div class="card">
          <img class="card-img-top" src="https://media3.s-nbcnews.com/j/newscms/2018_06/2316941/180205-mlk-memorial-washington-njs-833a_d9f87620ff45bc07a11d071f6693e5b8.nbcnews-fp-320-280.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">MLK Jr.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <div class = "col">
      <div class="card">
          <img class="card-img-top" src="https://media3.s-nbcnews.com/j/newscms/2018_06/2316941/180205-mlk-memorial-washington-njs-833a_d9f87620ff45bc07a11d071f6693e5b8.nbcnews-fp-320-280.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">MLK Jr.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <div class = "col">
      <div class="card">
          <img class="card-img-top" src="https://media3.s-nbcnews.com/j/newscms/2018_06/2316941/180205-mlk-memorial-washington-njs-833a_d9f87620ff45bc07a11d071f6693e5b8.nbcnews-fp-320-280.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">MLK Jr.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  </div>