<div class="row justify-content-center" >
                <div style="margin-top:40px" class="col-md-6">
                    
                  <div class="card" >
                      <div class="card-header"> Login </div>
                      <div class="card-body">
                          <div class="row" >
                                  <div class="col">
                                          <input #Name type="text" class="form-control" placeholder="Username" />
                                          <input #Password type="password" class="form-control" placeholder="Password" />
                                          
                                          <button (click)="login(Name.value, Password.value)" >Login</button>
                                  </div>
                          </div>
                      </div>
                  </div>
                  <div class="card" >
                      <div class="card-header"> Register </div>
                      <div class="card-body">
                          <div class="row" >
                                  <div class="col">
                                          <input #NewUser type="text" class="form-control" placeholder="Username" />
                                          <input #NewPassword type = "password" class="form-control" placeholder="Password" />
                                          <button (click)="register(NewUser.value, NewPassword.value)" >Register</button>
                                  </div>
                          </div>
                          
                      </div>
                  </div>
                </div>
              </div>