<div class="row justify-content-center" >
  <div class="col-md-6">
      
    <div class="card" >
        <div class="card-header"> Login </div>
        <div class="card-body">
            <div class="row" >
                    <div class="col">
                            <button class="btn btn-block border-success bg-light" (click)="fblogin()"  >Login with Facebook</button>
                            <button class="btn btn-block border-success bg-light" (click)="googlelogin()" >Login with Google</button>
                    </div>
                    <div class="col">
                            <input #Name type="text" class="form-control" placeholder="Username" />
                            <input #Password type="password" class="form-control" placeholder="Password" />
                            
                            <button (click)="login(Name.value, Password.value)" >Login</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="card" >
        <div class="card-header"> Register </div>
        <div class="card-body">
            <div class="row" >
                    <div class="col">
                            <input #NewUser type="text" class="form-control" placeholder="Username" />
                            <input #NewPassword type = "password" class="form-control" placeholder="Password" />
                            <button (click)="register(NewUser.value, NewPassword.value)" >Register</button>
                    </div>
            </div>
            
        </div>
    </div>
  </div>
</div>