<div class="row justify-content-center" >
        <div class="col-md-6">
            
          <div class="card" >
              <div class="card-header"> Enter Activity </div>
              <div class="card-body">
                  <div class="row">
                          <div class="col">
                                  <input #Activity type="text" class="form-control" placeholder="Activity" />
                                  <input #Duration type="text" class="form-control" placeholder="Duration" />
                                  <input #Intensity type="text" class="form-control" placeholder="Intensity" />
                                  <input #Share type="text" class="form-control" placeholder="Share" />
                                  <button (click)="logFitness($event,
                                      Activity.value, 
                                      Duration.value,
                                      Intensity.value, 
                                      Share.value)" >Enter Activity</button>
                          </div>
                  </div>
              </div>
            </div>
            
        </div>
</div>
